body{
	background-image: linear-gradient(to bottom left, #8E52F8, #F89E25);
}

.login-page{
	width: 360px;
	height: 750px;
	padding: 10% 0 0;
	margin: auto;
}

.form{
	position: relative;
	z-index: 1;
	background: #531966;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
}

.form input{
	font-family: "Roboto", sans-serif;
	outline: 1;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px; 
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	text-align: center;
	outline: 0;
	background: #F59A25;
	width: 150px;
	border: 0;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;

}

.form button:hover,.form button:active{
	background: #FFA500;
}

.form .message{
	margin: 15px 0 0;
	color: #FFA500;
	font-size: 12px;
}

.form .message a{
	color: #FFA400
	text-decoration: none;
}

.form .register-form{
	display: none;

}